<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>


<center><img id="imagen" src="/static/images/unach.png" alt="user" style="width:300px;height:100px;"></center>	
<center><h1 style="border:3px solid DodgerBlue;"><MARQUEE>Dispositivos Embebidos</MARQUEE></h1></center>	
<center><img id="imagen" src="/static/images/iot.png" alt="user" style="width:500;height:600;"></center>
<center><h1>Sensor:</h><h id="sensor">--</h1></center>
<button  style="background-color:DodgerBlue;" id = 'LED1On'type="button" onclick="LED1_On();">LED1 ON!</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">LED1_OFF!</button>

<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
